<h2>Player login</h2>
<input ng-model= "playerOneName" type="text" name="name" value=""placeholder="Player One">
<input ng-model= "playerTwoName" type="text" name="name" value=""placeholder="Player Two">
<input ng-model= "playerThreeName" type="text" name="name" value=""placeholder="Player Three">
<!-- <input type="text" name="name" value=""placeholder="Player Four"> -->

<input ng-model="enteredPassword" type="password" name="name" value="" placeholder="Password">
<button ng-click="submit()" type="submit" name="button">enter</button>
